[homebrew.files]
"homebrew/base.Brewfile" = "~/Brewfile"

[git.files]
"git/.gitconfig" = "~/.gitconfig"
"git/config/" = "~/.config/git/"

[zsh.files]
"zsh/zshrc/.zshrc" = "~/.zshrc"
"zsh/.zprofile" = "~/.zprofile"
"zsh/.zshenv" = "~/.zshenv"
"zsh/config" = "~/.config/zsh/"

[husky.files]
"husky/init.sh" = "~/.config/husky/init.sh"

[ssh.files."ssh/config"]
# write the ssh config only if it's empty
target = "~/.ssh/config"
type = "template"
if = "(command_success '! test -f ~/.ssh/config')"

[settings]
default_target_type = "template"
